body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Serif', serif;
    font-size: 15rem;
    margin: 20px
}       
#titre1 {
    font-size: 4rem;
    color: white;
    font-family: Roboto;
    font-weight: bold
}     
#titre2 {
    color: white;
    font-size: 5rem;
    text-align: center;
    font-family: Roboto;
    font-weight: bold
}       
#text1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: Roboto;
    margin-left: 250px;
    margin-right: 250px
}
#text2 {
    text-align: justify;
    color: white;
    font-size: 1rem;
    font-family: Roboto;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}
input[type="checkbox"] {
    display: none
}
.toggle {
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 11
}
.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #111;
    padding-top: 20px;
    transition: left 0.3s ease
}
input[type="checkbox"]:checked ~ .sidebar {
    left: 0;
}
.menu {
    list-style: none;
    margin-top: 20px
}
.menu li {
    padding: 15px 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease
}
.menu li a:hover {
    color: #999;
}
main {
    max-width: 1000px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px
}
form {
    width: 100%;
    display: flex;
    flex-direction: column
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Roboto;
    color: white
}
input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px
}
button {
    padding: 10px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold
}
button:hover {
    background-color: #999;
    color: black
}
.arts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.arts img {
    width: 100%;
    height: auto;
    display: block;
}
.fontphilo {
    background-color: #222;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
