body {
background-color: black;
}
h2 {
color: white;
text-align: center;
font-family: Roboto;
font-weight: bold;
width: 20%  
}
h1 {
color: white;
text-align: center;
font-family: Serif;
width: 40%  
}
menu {
list-style-type: none;
margin: 0;
padding: 0
}
#text1, #text2, #text3, #text4 {
color: white;
width: 5%;
font-family: Roboto;
font-weight: bold
}
